<h2>{{ section.settings.header }}</h2>

<div>
    {% for block in settings.blocks %}
        <a href="{{ block.settings.collection.url }}">
            <div>
                <img src="{{ block.settings.collection.image | img_url: "Large" }}">
            </div>
            <h3>{{ block.settings.collection.title }}</h3>
        </a>
    {% endfor %}
</div>

<div>
    This is a Collection Grid
</div>

{% schema %}
{
    "name": "Collection grid",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Header"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "limit": 4,
            "name": "Collection",
            "settings": [
                {
                   "type": "collection",
                   "id":  "collection",
                   "label": "collection"
                }
            ]
        }

    ],
    "presets": [
        {
            "name": "Collection grid"
        }
    ]
}   
{% endschema %}
