<div>
    This is a Collection Grid
    <h2 class="collection-grid__header"> Picks of the week </h2>
</div>


<div>
    This is a Collection Grid
    <h2 class="collection-grid__header"> Picks of the week </h2>
</div>
