<div>
    This is a Collection Grid
    <h2 class="collection-grid__header"> Picks of the week </h2>
</div>

{% schema %}
{
    "name": "Collection grid",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Header"
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "limit": 4,
            "name": "Collection",
            "settings": [
                {
                   "type": "collection",
                   "id":  "collection",
                   "label": "collection"
                }
            ]
        }

    ],
    "presets": [
        {
            "name": "Collection grid"
        }
    ]
}   
{% endschema %}
